<section>
    <div class="text">
        <h1>P O R T O F O L I O</h1>
    </div>
    <div class="container">

        <a href="https://github.com/SimoncaDarius30123/CampusHub" target="_blank">
            <div class="element">
                <h1>Campus<span>HUB</span></h1>
                <h2 class="hide">Explore More</h2>
            </div>
        </a>

        <a href="https://github.com/SimoncaDarius30123/CineGO" target="_blank">
            <div class="element">
                <h1>Cine<span>GO</span></h1>
                <h2 class="hide">Explore More</h2>
            </div>
        </a>

        <a href="https://github.com/SimoncaDarius30123/java-iphone-calculator" target="_blank">
            <div class="element">
                <h1>Iphone <span>Calculator</span></h1>
                <h2 class="hide">Explore More</h2>
            </div>
        </a>

        <a href="https://github.com/SimoncaDarius30123/Car-Management" target="_blank">
            <div class="element">
                <h1>Car <span>Management</span></h1>
                <h2 class="hide">Explore More</h2>
            </div>
        </a>

        <a href="https://github.com/SimoncaDarius30123/Help-a-Hand" target="_blank">
            <div class="element">
                <h1>Help-<span>A</span>-Hand</h1>
                <h2 class="hide">Explore More</h2>
            </div>
        </a>

        <a href="https://github.com/SimoncaDarius30123/Website-1-OviBEST" target="_blank">
            <div class="element">
                <h1>Website 1 - <span>OviBEST</span></h1>
                <h2 class="hide">Explore More</h2>
            </div>
        </a>

        <a href="https://github.com/SimoncaDarius30123/Website2-OviBEST" target="_blank">
            <div class="element">
                <h1>Website 2 - <span>OviBEST</span></h1>
                <h2 class="hide">Explore More</h2>
            </div>
        </a>

        <a href="https://github.com/SimoncaDarius30123/Simple-Race-Game" target="_blank">
            <div class="element">
                <h1>Simple <span>Race</span> Game</h1>
                <h2 class="hide">Explore More</h2>
            </div>
        </a>

        <a href="https://github.com/SimoncaDarius30123/Air-Traffic-Control-System" target="_blank">
            <div class="element">
                <h1>Air <span>Traffic Control</span> System</h1>
                <h2 class="hide">Explore More</h2>
            </div>
        </a>

        <a href="https://github.com/SimoncaDarius30123/Flow-Temperature-Control-of-Granular-Materials" target="_blank">
            <div class="element">
                <h1>Flow <span>Temperature Control</span> of Gralunular Materials</h1>
                <h2 class="hide">Explore More</h2>
            </div>
        </a>

        <a href="https://github.com/SimoncaDarius30123/Stocks-Portofolio-Management-Application" target="_blank">
            <div class="element">
                <h1><span>Stocks</span> Portofolio</h1>
                <h2 class="hide">Explore More</h2>
            </div>
        </a>

        <a href="https://github.com/SimoncaDarius30123/System-Identification" target="_blank">
            <div class="element">
                <h1>System <span>Identification</span></h1>
                <h2 class="hide">Explore More</h2>
            </div>
        </a>
        
    </div>
</section>
