<section>
    <div class="text">
        <h1>C O N T A C T</h1>
    </div>

    <div class="container">
        <div class="element">
            <fa-icon [icon]="faMail" /> &nbsp;  &nbsp;
            <h3>simonca.darius48@yahoo.com</h3>
        </div>
        <div class="element">
            <fa-icon [icon]="faPhone" /> &nbsp;  &nbsp;
            <h3>0743503946</h3>
        </div>
        <div class="element">
            <fa-icon [icon]="faLocation" /> &nbsp;  &nbsp;
            <h3>Str. Observatorului, Cluj-Napoca</h3>
        </div>
    </div>
</section>