<section>
    <div class="container">
        <h1> <span>A B O U T</span> &nbsp; M E</h1>
        <p> I am an <span>ambitious</span> and <span>persevering</span>
            person always focused on achieving my
            goals. I adapt <span>quickly</span> to any situation,
            finding effective solutions even in
            challenging conditions.
            My determination and ability to
            continuously learn help me constantly
            grow both <span>professionally</span> and <span>personally</span>.
            Currently, I am a student at the <span>Technical University of Cluj-Napoca</span>, 
            <span>Faculty of Automation and Computer Science</span>, where I am developing strong 
            technical skills and deepening my knowledge in <span>engineering</span> and <span>technology</span>.
        </p>
    </div>
</section>