header{
    background-image: url("../../public/bg.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    
    .container{
        align-self:end;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 70vh;

        .text{
            height: 60%;
            width: 50%;
            align-self: center;
            font-family: 'k2d';
            
            h2{
                font-size: 1.5rem;
                margin-left: 5vw;
            }
            
            h1{
                font-size: 3rem;
                margin-left: 5vw;
                font-weight: bold;
            }
            
            h3{
                margin-left: 20vw;
                color:lightgray;
                font-weight: 600;
                font-size: 1.1rem;
            }

            span{
                color:#fff;
            }

            .media{
                width: 40%;
                height: 30%;
                margin-left: 7vw;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-top: 2vh;

                .social{
                    background-color: #CF8E48;
                    width: 20%;
                    height: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 2rem;
                    cursor: pointer;
                    a{
                        text-decoration: none;
                        color:inherit;
                    }
                    
                    &:hover{
                        background-color: #a2611b;
                    }
                    
                }
            }
        }

        .image{
            height: 90%;
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            
            img{
                width: 40%;
                height: 100%;
            }
        }
    }
}

section{
    width: 100%;
    height: 10vh;
    background-color:#232322;
    display: flex;
    align-items: center;

    p{
        font-family: 'k2d';
        margin-left: 3vw;
        color:#fff;
        font-weight: bold;
        font-size: 1.2rem;

        span{
            color:orange;
        }
    }
}

footer{

    height: auto;
    background-color:black ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    


    .footerContainer{
        margin-top: 15vh;
        width: 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a{
            text-decoration: none;

            fa-icon{
                color:#fff;
                font-size: 1.8rem;

                &:hover{
                    color: #c0b3b3;
                }
            }
        }
    }



    p{
        margin-top: 30px;
        color:#fff;
        font-family: 'k2d';
        font-weight: bold;
        font-size: 1rem;
        margin-bottom: 20px;
        letter-spacing: 3px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    header{
    background-image: url("../../public/bgMobile.png");
    background-position: center;
    background-size: cover;

        .container{
            display: flex;
            flex-direction: column-reverse;

            .text{
                display: flex;
                flex-direction: column;
                align-items: end;
                
                width: 90%;
            }

            .image{
                width: 100%;
                
                img{
                    width: 30%;
                }
            }
        }
    }
}

@media (max-width: 767px){
    header{
    background-image: url("../../public/bgMobile.png");
    background-position: center;
    background-size: cover;

        .container{
            display: flex;
            flex-direction: column-reverse;

            .text{
                display: flex;
                flex-direction: column;
                align-items: end;
                
                width: 90%;

                h1{
                    font-size: 2.5rem;
                }
            }

            .image{
                width: 100%;
                
                img{
                    width: 50%;
                    margin-bottom: 30px;
                }
            }
        }
    }

    section{
        display: flex;
        justify-content: center;
        
        p{
            margin-left: 0;
            width: 90%;
            font-size: 1.2rem;
            text-align: center;
        }
    }

    footer{
        p{
            font-size: 1rem;
            text-align: center;
        }
    }
}

@media (max-width: 400px){
    header{
    background-image: url("../../public/bgMobile.png");
    background-position: center;
    background-size: cover;

        .container{
            display: flex;
            flex-direction: column-reverse;

            .text{
                display: flex;
                flex-direction: column;
                align-items: end;
                
                width: 90%;

                h2{
                    font-size: 1.3rem;
                }

                h3{
                    font-size: 0.9rem;
                }

                h1{
                    font-size: 2rem;
                }
            }
        }

       
    }

    section{
        display: flex;
        justify-content: center;
        
        p{
            margin-left: 0;
            width: 90%;
            font-size: 1rem;
            text-align: center;
        }
    }

    footer{

        .footerContainer{
            width: 23%;
        }
        p{
            font-size: 0.8rem;
        }
    }
}