<div class="container" [ngClass]="{'scrolled': isScrolled}">
    <div class="logo">
        <img src="logo.png">
    </div>
    <div class="sections">
        <ul>
            <li><a href="#aboutMe">About</a></li>
            <li><a href="#mySkills">Skills</a></li>
            <li><a href="#myPortofolio">Portofolio</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </div>
    <div class="mobileIconMenu" (click)="showMobileMenu()">
        <fa-icon [icon]="faBars" />
    </div>

    <div class="mobileMenu" [ngClass]="{'isClicked': isClicked}">
        <ul>
            <a href="#aboutMe"><li>About</li></a>
            <hr>
            <a href="#mySkills"><li>Skills</li></a>
            <hr>
            <a href="#myPortofolio"><li>Portofolio</li></a>
            <hr>
            <a href="#contact"><li>Contact</li></a>
            <hr>
        </ul>
    </div>
    
</div>